.tetris {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 20px);
  grid-template-rows: repeat(20, 20px);
  width: 200px;
  height: 400px;
}

.cell {
  border: 1px solid #333;
  width: 20px;
  height: 20px;
}

.cell.empty {
  background-color: #fff;
}

.cell.filled {
  background-color: #333;
  position: absolute;
}
